nfreq : 50
ndir : 36
filename_local_in : 'output/obstructions_local.wQU225EC30to60E2r1.in'
filename_shadow_in : 'output/obstructions_shadow.wQU225EC30to60E2r1.in'
filename_local_out : 'obstructions_local.wQU225EC30to60E2r1_RTD.in'
filename_shadow_out : 'obstructions_shadow.wQU225EC30to60E2r1_RTD.in'
angled_file : 'angled.d'
