
ocean_mesh : "ocean.WC14to60E2r3.200714_scaled.nc"
coastlines : False
shpfiles : [ 
               "/home/sbrus/run/WW3_unstructured/OceanMesh2D/utilities/GSHHS/l/GSHHS_l_L1.shp",
               "/home/sbrus/run/WW3_unstructured/OceanMesh2D/utilities/GSHHS/l/GSHHS_l_L5.shp"
           ]   
sphere_radius : 6371.0  #km 
hfun_grid_spacing : 0.5 #deg
hfun_slope_lim : 0.15   
depth_threshold_refined : 1000.0    #m  
distance_threshold_refined : 300.0  #units of sphere_radius
depth_threshold_global : 1000.0     #m  
distance_threshold_global : 300.0   #units of sphere_radius
refined_res : 20000.0               #m  
maxres : 225000.0                   #m  



