
  ww3_direcs : ['/users/sbrus/scratch4/WW3_CFSR_2000-2010/2002/run00/results/model_data/fields/']
  transects : [
               {'lon0':-65.0, 'lat0':-65.0, 'lon1':-65.0, 'lat1':-55.0, 'spacing':10.0, 'name':'south america'},
               {'lon0': 20.0, 'lat0':-69.0, 'lon1': 20.0, 'lat1':-35.0, 'spacing':10.0, 'name':'africa'},
               {'lon0':129.0, 'lat0':-66.0, 'lon1':129.0, 'lat1':-31.5, 'spacing':10.0, 'name':'austrailia'}
              ]
