monthly : True
seasonal : False
yearly : False

ww3_direcs : ['/users/sbrus/scratch4/WW3_CFSR_2000-2010/2002/run00/results/model_data/fields/',
              '/users/sbrus/scratch4/WW3_CFSR_2000-2010/2003/run00/results/model_data/fields/']
altimeter_direcs : ['/users/sbrus/scratch4/WW3_CFSR_2000-2010/2002/observed_data/altimeter/',
                    '/users/sbrus/scratch4/WW3_CFSR_2000-2010/2003/observed_data/altimeter/']

write_nc : False
