
year : '2005'
model_direcs : {'glo_30m':'/users/sbrus/scratch4/WW3_testing/glo_30m/post_processing/june/model_data/points/',
                'glo_15m':'/users/sbrus/scratch4/WW3_testing/glo_15m/post_processing/june/model_data/points/'}
obs_direc : './obs_data/'
plot_direc : './point_plots/'

# for getting lon,lat locations of stations for field interpolation
#station_file : './stations.txt'

# for syncing start time between runs that were initialized with different dates
#start_time : '2005-06-01 00:00:00' 

# for old E3SM WW3 output where time and lat, lon variables weren't present
#ref_date : '2005-06-01 00:00:00'
#out_int : 0.0208333333333333333
#lon_range : [0.0,356.0]
#lat_range : [-78.4,78.4]
 
