model_direc : [['glo_30m+ocn','/users/sbrus/scratch4/WW3_testing/glo_30m+ocn/post_processing/june-august/model_data/fields/'],
               ['glo_30m','/users/sbrus/scratch4/WW3_testing/glo_30m/post_processing/june-august/model_data/fields/']]
plot_direc : './field_plots'
timesnaps : False
#tsnap_range : [0,10]
#avg_rannge : [0,10]
