
# Set directories
run_direc : '/lustre/scratch4/turquoise/sbrus/WW3_CFSR_2000-2010/' 
output_direc : '../../model_output/points/' 
log_direc : '../../model_output/log_files/' 
data_direc : '../../model_data/points/'
out_types : ['points','fields']
fields_requested : ['HS','FP','DP']
point_out_types : ['wave','met']
