first_output_time : '20050601 000000'
increment         : '10800'           # In sconds
number_of_outputs : '248'

fields_requested : ['HS']

nc_version  : '4'
swell_partitions : ['0','1','2']
variables_in_same_file : 'T'
file_prefix : 'ww3.'
date_length : '10'
ix_range : ['0','1000000']
iy_range : ['0','1000000']

