# Select either 'linear' or 'constant for temporal interpolation
interp_type : 'linear'

# Data file paths, ice is assumed to be higher resolution in space and time
ice_file : '../ice/icecon.200201-200212.ww3.nc'
iceberg_file : './prod_latlon_jason1_2002.nc'
iceberg_file_next : '../../../2003/reanalysis_data/icebergs/prod_latlon_jason1_2003.nc'
combined_file : 'ice.combined.200201-200212.ww3.nc'
