
cesm_remap_blin_file : ['map_oEC60to30v3_TO_wQU100_blin.20210202.nc','map_wQU100_TO_oEC60to30v3_blin.20210202.nc']
cesm_remap_stod_file : ['map_oEC60to30v3_TO_wQU100_nstod.20210202.nc','map_wQU100_TO_oEC60to30v3_nstod.20210202.nc']
cesm_remap_splice_file : ['map_oEC60to30v3_TO_wQU100_splice.20210202.nc','map_wQU100_TO_oEC60to30v3_splice.20210202.nc']

#cesm_remap_blin_file : ['map_gx1v6_TO_ww3a_blin.150511.nc','map_ww3a_TO_gx1v6_blin.150511.nc']
#cesm_remap_stod_file : ['map_gx1v6_TO_ww3a_neareststod.150511.nc','map_ww3a_TO_gx1v6_neareststod.150511.nc']
#cesm_remap_splice_file : ['map_gx1v6_TO_ww3a_splice.nc','map_ww3a_TO_gx1v6_splice.nc']

#cesm_remap_blin_file : ['map_gx1v6_TO_ww3a_blin.150430.nc']
#cesm_remap_stod_file : ['map_gx1v6_TO_ww3a_neareststod.150430.nc']
#cesm_remap_splice_file : ['map_gx1v6_TO_ww3a_splice.nc']

#cesm_remap_blin_file : ['map_ww3a_TO_gx3v7_blin.150311.nc']
#cesm_remap_stod_file : ['map_ww3a_TO_gx3v7_neareststod.150311.nc']
#cesm_remap_splice_file : ['map_ww3a_TO_gx3v7_splice.nc']

