fort14_in : 'Global_shallow_4000_edit_mv_nd_add_el.14'
fort14_out : 'fort.14_shallow_4000_edit_mv_nd_add_el'
vtk_out : 'sphere_shallow_4000_edit_mv_nd_add_el.vtk'
gmsh_out : 'mesh_shallow_4000_edit_mv_nd_add_el.msh'

######################################################

#fort14_in : 'Global_DE_2km.14'
#fort14_out : 'fort.14_DE_2km'
#vtk_out : 'sphere_DE_2km.vtk'
#gmsh_out : 'mesh_DE_2km.msh'

#fort14_in : 'clean.14'
#fort14_out : 'fort.14_50km_clean'
#vtk_out : 'sphere_clean.vtk'
#gmsh_out : 'mesh_50km_clean.msh'

#fort14_in : 'Global_shallow_4000.14'
#fort14_out : 'fort.14_shallow_4000'
#vtk_out : 'sphere_shallow_4000.vtk'
#gmsh_out : 'mesh_shallow_4000.msh'

#fort14_in : 'Global_shallow_4000_edit.14'
#fort14_out : 'fort.14_shallow_4000_edit'
#vtk_out : 'sphere_shallow_4000_edit.vtk'
#gmsh_out : 'mesh_shallow_4000_edit.msh'

#fort14_in : 'Global_shallow_4000_edit_mv_nd.14'
#fort14_out : 'fort.14_shallow_4000_edit_mv_nd'
#vtk_out : 'sphere_shallow_4000_edit_mv_nd.vtk'
#gmsh_out : 'mesh_shallow_4000_edit_mv_nd.msh'

#fort14_in : 'Global_shallow_4000_20.14'
#fort14_out : 'fort.14_shallow_4000_20'
#vtk_out : 'sphere_shallow_4000_20.vtk'
#gmsh_out : 'mesh_shallow_4000_20.msh'

#fort14_in : 'Global_half_degree.14'
#fort14_out : 'fort.14_half_degree'
#vtk_out : 'sphere_half_degree.vtk'
#gmsh_out : 'mesh_half_degree.msh'

#fort14_in : ''
#fort14_out : ''
#vtk_out : ''
#gmsh_out : ''
