# Input fields to be used
water_lev_flag : 'F'      # These variables are 
current_flag   : 'F'      # assumed to not 
wind_flag      : 'T'      # be homogenous
ice_flag       : 'F'

# Time frame of calculation in yyyymmdd hhmmss format
start_time     : '20050701 000000'
end_time       : '20050801 000000'

# Output server mode
#   0 - No data server process, direct access output from each process 
#   1 - No data server process, output performed by process that performs computations
#   2 - Last process is reserved for all output, does no computing
#   3 - Multiple dedicated output precesses
iostyp         : '1'

#--------------------
# Define output data
#--------------------
# Start and end times in yyyymmdd hhmmss format
# an output interval of 0 turns off that type of output

# Field of mean wave parameters
field_output_start : "start_time"
field_output_intvl : 3           # In hours
field_output_end   : "end_time"    
fields : ['HS','TP','DP']        # Assumes namelist selection of fields

# Point output
point_output_start : "start_time"
point_output_intvl : 1           # In hours      
point_output_end   : "end_time"
station_file : './stations.txt'

# Output along tracks
track_output_start : "start_time"
track_output_intvl : 0           # In hours
track_output_end   : "end_time"

# Restart file output
resrt_output_start : "start_time"
resrt_output_intvl : 5           # In days
resrt_output_end   : "end_time"

# Boundary data output
bound_output_start : "start_time"
bound_output_intvl : 0           # In hours
bound_output_end   : "end_time"

# Separated feild data output (dummy)
sepfd_output_start : "start_time"
sepfd_output_intvl : 0           # In hours
sepfd_output_end   : "end_time"

